/*body {*/
/*    padding: 15px;*/
/*    box-sizing: border-box;*/
/*}*/
.title {
    font-size: 12px;
    font-weight: normal;
    display: flex;
}
.url-content {
    display: flex;
    height: 150px;
}
.url {
    flex: 1;
}
.url:nth-child(2) {
    margin-left: 10px;
}
.config {
    font-size: 12px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.config label {
color:red; cursor:pointer; margin:3px 0; vertical-align: middle;
}
.config input {
    display: inline-block; vertical-align: middle; margin-bottom: 3px;
}

.result {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.rows {
    display: flex;
    padding: 1px;
    word-break: break-all;
    font-size: 12px;
}
.rows:nth-child(2n+1) {
    background-color: #efefef;
}
.host {
    background-color: #faffb9 !important;
}
.key {
    width: 150px;
    flex-shrink: 0;
}
.value {
    flex: 1;
    margin-left: 50px;
}
.value input {
    width: 100%;
}
.active {
    color: #ff0000;
    font-weight: bold;
}