body {
    padding: 15px;
    box-sizing: border-box;
}
.title {
    font-size: 14px;
    font-weight: normal;
}
.url-content {
    display: flex;
    height: 150px;
}
.url {
    flex: 1;
}
.url:nth-child(2) {
    margin-left: 10px;
}
.result {
    margin-top: 20px;
}
.row {
    display: flex;
    padding: 10px;
    word-break: break-all;
    font-size: 12px;
}
.row:nth-child(2n+1) {
    background-color: #efefef;
}
.host {
    background-color: #faffb9 !important;
}
.key {
    width: 120px;
    flex-shrink: 0;
}
.value {
    flex: 1;
    margin-left: 50px;
}
.value input {
    width: 100%;
}
.active {
    color: #ff0000;
    font-weight: bold;
}